<!-- templates/profile.html -->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h3>User Profile</h3>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h4 class="ml-3">{{ user.name.title() }}</h4>
                        <h4 class="ml-3">{{ age or 'Not provided' }} years old</h4>
                        <h4 class="ml-3">{{ user.address.title() or 'Not provided' }}</h4>
                    </div>
                    <div class="col-md-4 text-center mb-3">
                        <img src="{{ url_for('static', filename='uploads/' + user.image_file) }}" 
                             class="img-thumbnail rounded-circle" 
                             style="width: 150px; height: 150px; object-fit:scale-down;" 
                             alt="Profile Image">
                </div>
                <div class="text-center mt-3">
                    <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Edit Profile</a>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}